<div class="container mt-3" id="main">
    <h1>Üye Bilgilerini Düzenle</h1>
    <p>Seçilen Üyenin Düzenlenecek Kısmlarını Doldurun.</p>
    
    <form>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"  >Üye Adı</span>
        </div>
        <input type="text" value="{{member.memberName}}"[(ngModel)]="member.memberName" name="memberName" class="form-control">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Üye Mail</span>
        </div>
        <input type="text" value="{{member.memberEmail}}"[(ngModel)]="member.memberEmail" name="memberEmail" class="form-control">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Üye Telefon</span>
        </div>
        <input type="text" value="{{member.memberPhone}}"[(ngModel)]="member.memberPhone" name="memberPhone" class="form-control">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Üye Tc. No.</span>
        </div>
        <input type="text" value="{{member.memberTcNo}}" [(ngModel)]="member.memberTcNo" name="memberTcNo" class="form-control"  >
      </div>
      
    </form>
    <button type="button" (click)="memberUpdate()" class="btn btn-success">Güncelle</button>
    
  </div>
