<div class="login-form">
    <form class="form-group" method="post">
        <h2 class="text-center">Register</h2>       
        <div class="form-group">
            <input type="text" [(ngModel)]="signUpUserr.userName" name="userName" class="form-control" placeholder="Name-Surname" required="required">
        </div>
         <div class="form-group">
            <input type="text" [(ngModel)]="signUpUserr.email" name="email" class="form-control" placeholder="Email" required="required">
        </div>
        <div class="form-group">
            <input type="text"[(ngModel)]="signUpUserr.userPhone" name="userPhone" class="form-control" placeholder="Phone Number" required="required">
        </div>
        <div class="form-group">
            <input type="password" [(ngModel)]="signUpUserr.password" name="password" class="form-control" id="password" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <button type="submit" (click)="signUpUser()" class="btn btn-primary btn-block">Log in</button>
        </div>
               
    </form>
    
</div>
